main {
    gap: 100px;
}

.first-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 810px;
    background-image: url("photos/bg image.png");
    background-size: cover;
}

.first-page-content-container {
    position: relative;
    display: flex;
    width: 83.334%;
    height: 386px;
}

.first-page-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.first-page-content-h1 {
    font-weight: 800; font-size: 42px; line-height: 63px; color: white;
}

.first-page-content-h5 {
    font-weight: 500; font-size: 14px;  line-height: 25px; color: white; width: 370px
}


.navigation {
    position: absolute;
    font-size: 14px;
    width: 83.334%;
    height: 75px;
    border-radius: 50px;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    display: flex;
    align-items: center;
}
.ulList{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    width: 100%;
}

.language-burger-container {
    cursor: pointer;
}


.select-language {
    width: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.sections:hover {
    color: orange;
    cursor: pointer;
}

.logotype {
    display: flex; align-items: center; width: 120px; justify-content: space-between; font-size: 16px;
}

.reservation {
    width: 201px; height: 47px; font-size: 14px; background-color: #F17E4E; color: white; border-radius: 50px; border: none; transition: background-color 0.4s; cursor: pointer;
}

.reservation:hover {
    background-color: black;
}

.burger-menu {
    display: none;
}

/*page 2*/

.about-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    width: 83.334%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-right {
    width: 40%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.about-left {
    width: 40%;
    background-image: url("photos/image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.about-right-text {
    color: #F17E4E; font-size: 14px;
}

.about-right-p {
    font-size: 14px; line-height: 25px; display: flex; flex-direction: column; justify-content: space-between;
}

/*page 3*/

.advantages-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.advantages {
    width: 83.334%;
    height: 100%;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.article-text {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    gap: 20px
}

.article-text p {
    font-size: 14px;
    color: #F17E4E;
}

.article-text h2 {
    font-size: 28px;
    font-weight: 800;
    line-height: 42px;
}

.advantages-icons {
    display: flex; justify-content: space-between; flex-direction: row; width: 100%; min-height: 242px; gap: 30px
}

.advantages-icon {
    display: flex; flex-direction: column; align-items: center; width: 33%; gap: 20px;
}

.advantages-icon-text {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}

.advantages-icon-text p {
    font-size: 14px;
    line-height: 25px;
}

.advantages-icon-text h3 {
    font-size: 18px;
}

/*page 4*/

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 576px;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 83.334%;
    gap: 50px;
}

.photos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.card_focus {
    position: relative;
    display: flex;
    justify-content: center;
    width: 32%;
    align-items: center;
    height: 100%;
}

.card_focus img {
    width: 100%;
    height: 100%;
}

.text-photo-container {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    width: 80%;
    height: 90%;
}

.text-photo {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
    gap: 20px;
}

.text-photo p {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

.text-photo h3 {
    font-size: 18px;
}

.hover-image2, .hover-image3 {
    display: none;
}

.reservation1, .reservation2, .reservation3 {
    width: 60%; height: 40px; display: none; cursor: pointer; font-size: 12px; background-color: #F17E4E; color: white; border-radius: 50px; border: none; transition: background-color 0.4s;
}

.reservation1:hover, .reservation2:hover, .reservation3:hover {
    background-color: black;
}


/*page 5*/
.questions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 714px;
}

.questions-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 83.334%;
    height: 100%;
}

.questions-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    height: 100%;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.questions-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5%;
    border-radius: 20px;
    border: 2px solid #E0E0E0;
    height: 80px;
    transition: height 0.3s ease;
}

.questions-card h3 {
    font-size: 24px;
}

.questions-card p {
    font-size: 20px;
    width: 90%;
    line-height: 36px;
}

.questions-card:hover {
    cursor: pointer;
}

.answer {
    display: none;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.arrow-icon {
    margin-right: 50px;
    transition: transform 0.3s ease;
}

.questions-card.expanded .arrow-icon {
    transform: rotate(90deg);
}

/*page 6*/

.partners {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-height: 334px;
    gap: 50px;
}

.logos-container {
    overflow: hidden;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos {
    display: flex;
    flex-direction: row;
    width: max-content;
    animation: scroll 10s linear infinite;
    height: 100%;
    gap: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 216px;
}

.logo image {
    width: 166px;
    height: 100px;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 946px;
    align-items: center;
    width: 100%;
}

.review-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.one-card {
    padding: 50px;
    max-width: 800px;
    min-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFF2EC;
    align-self: center;
    gap: 30px;
    border-radius: 16px;
}

.review-card-text {
    font-size: 20px;
    line-height: 36px;
}

.name {
    font-size: 20px;
    color: #828282;
}

.left-right-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 110px;
    height: 40px;
}

.swipe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.gallery, .reviews {
    display: none;
}