* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    overflow: hidden;
    min-width: 0;
}


.first-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("photos/bg image.png");
    background-size: cover;
    background-position: center 30%;
}

.first-page-content-container {
    position: relative;
    display: flex;
    width: 83.334%;
    height: 50%;
    min-height: 314px;
}

.first-page-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.first-page-content-h1 {
    font-weight: 800; color: white;
    font-size: calc(20px + 40 * (100vw - 320px) / (1920 - 320));
}

.first-page-content-h5 {
    font-weight: 500; color: white;
    font-size: calc(14px + 8 * (100vw - 320px) / (1920 - 320));
    line-height: 1.6;
}

header {
    position: absolute;
    width: 83.334%;
    height: 9%;
    top: 9.5%;
    transform: translate(-50%, -50%);
    left: 50%;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.6) 100%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.navigation {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sections {
    font-size: calc(14px + 10 * (100vw - 768px) / (1920 - 768));
}

.ulList{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    width: 100%;
}

.language-burger-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 15%;
}


.burger-menu {
    width: 25px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.burger-line {
    width: 100%;
    height: calc(1px * 1.5);
    background-color: black;
}

.burger-menu {
    display: none;
}


.select-language {;
    display: flex;
    gap: 4%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}


.sections:hover {
    color: orange;
    cursor: pointer;
}

.logotype {
    display: flex; align-items: center; justify-content: space-between; gap: 10%;
}

.reservation {
    width: 201px; height: 47px; font-size: 14px; background-color: #F17E4E; color: white; border-radius: 50px; border: none; transition: background-color 0.4s; cursor: pointer;
}



.reservation:hover {
    background-color: black;
}


@media (max-width: 768px) {
    .sections {
        display: none;
    }
    .burger-menu {
        display: inherit;
    }
}


/*page 2*/

.about-container {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    width: 83.334%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.about-right {
    width: 40%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.about-left {
    width: 40%;
    background-image: url("photos/image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.about-right-text {
    color: #F17E4E; font-size: 14px;
}

.about-right-p {
    font-size: 14px; line-height: 25px; gap: 10px; display: flex; flex-direction: column; justify-content: space-between;
}

@media (max-width: 768px) {
    .about {
        flex-direction: column-reverse;
    }
    .about-right {
        width: auto;
        align-items: center;
    }
}



/*page 3*/

.advantages-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.advantages {
    width: 83.334%;
    height: 100%;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.article-text {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    gap: 20px
}

.article-text p {
    font-size: 14px;
    color: #F17E4E;
}

.article-text h2 {
    font-size: 28px;
    font-weight: 800;
    line-height: 42px;
}

.advantages-icons {
    display: flex; justify-content: space-between; flex-direction: row; width: 100%; min-height: 242px; gap: 30px
}

.advantages-icon {
    display: flex; flex-direction: column; align-items: center; width: 33%; gap: 20px;
}

.advantages-icon-text {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}

.advantages-icon-text p {
    font-size: 14px;
    line-height: 25px;
}

.advantages-icon-text h3 {
    font-size: 18px;
}

@media (max-width: 768px) {
    .advantages-icons {
        flex-direction: column;
        align-items: center;
    }
    .advantages-icon {
        width: 100%;
    }
}



/*page 4*/

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 83.334%;
    gap: 50px;
}

.photos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.card_focus {
    position: relative;
    display: flex;
    justify-content: center;
    width: 32%;
    align-items: center;
    height: 100%;
}

.card_focus img {
    width: 100%;
    height: 100%;
}

.text-photo-container {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    width: 80%;
    height: 90%;
}

.text-photo {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
    gap: 20px;
}

.text-photo p {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

.text-photo h3 {
    font-size: 18px;
}

.hover-image2, .hover-image3 {
    display: none;
}

.reservation1, .reservation2, .reservation3 {
    width: 60%; height: 40px; display: none; cursor: pointer; font-size: 12px; background-color: #F17E4E; color: white; border-radius: 50px; border: none; transition: background-color 0.4s;
}

.reservation1:hover, .reservation2:hover, .reservation3:hover {
    background-color: black;
}


@media (max-width: 768px) {
    .photos {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .card_focus {
        width: auto;
        background-size: cover;
    }
}


/*page 5*/
.questions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 714px;
}

.questions-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 83.334%;
    height: 100%;
}

.questions-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    height: 100%;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.questions-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #E0E0E0;
    height: 80px;
    transition: height 0.3s ease;
}

.questions-card h3 {
    font-size: 24px;
}

.questions-card p {
    font-size: 20px;
    width: 90%;
    line-height: 36px;
}

.questions-card:hover {
    cursor: pointer;
}

.answer {
    display: none;
    width: 90%;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.arrow-icon {
    transition: transform 0.3s ease;
}

.questions-card.expanded .arrow-icon {
    transform: rotate(90deg);
}

@media (max-width: 767px) {
    .questions-card h3 {
        font-size: 12px;
    }
    .questions-card p {
        font-size: 14px;
        width: 90%;
        line-height: 16px;
    }

}

/*page 6*/

.partners {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-height: 334px;
    gap: 50px;
}

.logos-container {
    overflow: hidden;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos {
    display: flex;
    flex-direction: row;
    width: max-content;
    animation: scroll 10s linear infinite;
    height: 100%;
    gap: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 216px;
}

.logo image {
    width: 166px;
    height: 100px;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.swiper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    gap: 50px;
    position: relative;
}

.swiper-wrapper {
    box-sizing: content-box;
    position: relative;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fffaf8;
    border-radius: 35px;
    min-width: 300px;
    min-height: 672px;
}


.swiper-slide-active {
    background-color: #fff2ec;
}

.review-card-text {
    font-size: 20px;
    line-height: 36px;
}

.name {
    color: #828282;
}

.review-card-inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    gap: 30px;
}

.swipe-left {
    width: 50%; display: flex; justify-content: center; align-items: center; cursor: pointer
}

.swipe-right {
    width: 50%; display: flex; justify-content: center; align-items: center; cursor: pointer
}

/*new page*/

.sign-up {
    width: 100%;
    height: 1151px;
    background-image: url("photos/wave.svg");
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
}

.sign-up-form-container-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-form-container {
    width: 590px;
    min-height: 735px;
    background-color: white;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 16px;
}

#sign-up-form {
    display: flex; flex-direction: column; gap:20px; width: 80%
}


#sign-up-form div input {
    width: 100%; height: 65px; border-radius: 16px; border: 1px solid #E0E0E0; padding-left: 8%; font-size: 20px;
}

.button-form-submit {
    background-color: #F17E4E; color: white; font-size: 20px; border: 1px solid #E0E0E0; height: 65px; border-radius: 16px
}

.input-name-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-number-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-name-error {
    color: #EB5757;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    display: none;
}

.input-number-error {
    color: #EB5757;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    display: none;
}

.errors {
    line-height: 36px;
    font-size: 20px;
    color: #EB5757;
    padding-bottom: 50px;
    display: none;
}

#thank-you {
    width: 630px;
    min-height: 438px;
    position: fixed;
    margin: auto;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

#thank-you h2 {
    margin-top: 20px;
    font-size: 40px;
    line-height: 60px;
    color: #27AE60;
}

#thank-you p {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 20px;
}

/*yandex map page*/

#YMapsID {
    width: 100%;
    max-width: 1920px;
    height: 650px;
}